{% extends 'base.html' %}
{% block content %}


  <h1>{{ question.question }}</h1>

  <form action="/answer" method="POST">

      <!-- you should have one item like this for every choice -->
      {% for choice in question.choices %}
      <p>
        <input
            type="radio"
            name="answer"
            value="{{ choice }}">
        {{ choice }}
      </p>
      {% endfor %}
      {% if question.allow_text == True %}
      <textarea name= "comment"
        width="100" height="100"></textarea>
      {% endif %}
    <button>Continue</button>
  </form>

{% endblock %}
